<div class="flex h-screen justify-center items-center">
    <div class="w-1/2 grid grid-cols-3 m-auto">
        <div class="weather bg-light-purple m-2 bg-purple-900 rounded-lg">
            <div class="weather-image overflow-hidden rounded-tl-lg rounded-tr-lg">
                <img src="../assets/forest.jpg">
            </div>
            <div class="weather-data m-2 text-gray h-auto">
                <div class="weather-details text-xl font-bold my-auto">
                    <ul class="m-3">
                        <li class="mb-1 ml-5">
                            Status: 
                        </li>
                        <li class="mb-1 ml-5">
                            Temp: 
                        </li>
                        <li class="mb-1 ml-5">
                            Wind: 
                        </li>
                        <li class="mb-1 ml-5">
                            Moon: 
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bg-light-purple col-span-2 m-2 bg-purple-900 rounded-lg">
            <div class="grid grid-rows">
                <div class="m-3 text-4xl font-bold text-center text-orange">
                    {{ today | date:'HH:mm:ss - ccc MM LLL yyyy' }}
                </div>
                <div class="m-3 flex flex-row">
                    <input id="search-input" class="m-2 font-bold" placeholder="Search the web..." autofocus
                        (click)="searchWithEnter()">
                    <button class="text-purple bg-orange m-2 p-2 font-bold rounded-lg" type="button" id="search-button"
                        (click)="search()">search</button>
                </div>
                <div class="m-3 grid grid-cols-3 text-gray">
                    <div class="m-2 bg-purple rounded-lg ">
                        <div class="font-bold">
                            <div class="text-3xl text-orange m-2">~/general</div>
                            <ul class="my-2">
                                <li class="mb-1 ml-5">
                                    <a href="#!" class="hover:text-orange-600"> > youtube</a>
                                </li>
                                <li class="mb-1 ml-5">
                                    <a href="#!" class="hover:text-orange-600"> > reddit</a>
                                </li>
                                <li class="mb-1 ml-5">
                                    <a href="#!" class="hover:text-orange-600"> > github</a>
                                </li>
                                <li class="mb-1 ml-5">
                                    <a href="#!" class="hover:text-orange-600"> > gitlab</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="m-2 bg-purple rounded-lg">
                        <div class="font-bold">
                            <div class="text-3xl text-orange m-2">~/utils</div>
                            <ul class="my-2">
                                <li class="mb-1 ml-5">
                                    <a href="#!" class="hover:text-orange-600"> > arch wiki</a>
                                </li>
                                <li class="mb-1 ml-5">
                                    <a href="#!" class="hover:text-orange-600"> > proton mail</a>
                                </li>
                                <li class="mb-1 ml-5">
                                    <a href="#!" class="hover:text-orange-600"> > deepl</a>
                                </li>
                                <li class="mb-1 ml-5">
                                    <a href="#!" class="hover:text-orange-600"> > typing</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="m-2 bg-purple rounded-lg">
                        <div class="font-bold">
                            <div class="text-3xl text-orange m-2">~/dev</div>
                            <ul class="my-2">
                                <li class="mb-1 ml-5">
                                    <a href="#!" class="hover:text-orange-600"> > dzone</a>
                                </li>
                                <li class="mb-1 ml-5">
                                    <a href="#!" class="hover:text-orange-600"> > linux</a>
                                </li>
                                <li class="mb-1 ml-5">
                                    <a href="#!" class="hover:text-orange-600"> > itsfoss</a>
                                </li>
                                <li class="mb-1 ml-5">
                                    <a href="#!" class="hover:text-orange-600"> > swagger</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>